* { margin: 0 0 0 0;
    padding: 0;
    font-family: Open+Sans, arial;
    box-sizing: border-box;
}

body{
    background-color: #ddb;
    
    
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: white; 
}

#HeroImage{
    width: 100%;
    display: block;
    
}

nav{
    background-color: darkgray;
    
}

a.menu {
    display: inline-block;
    padding: 12px 30px;
    width: 16%;
    color: black;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color:coral;
}
.active {
    background-color: crimson;
}