* { margin: 0 0 0 0;
    padding: 0px;
    font-family: Open+Sans, arial;
    box-sizing: border-box;
}


body{
    background-color: #ddb;
    
}

#wrapper {
    max-width: 1366px;
    margin: 0 auto 0 auto;
    background-color: white; 
}

#HeroImage{
    width: 100%;
    height: 240px;
    display: block;
    
}
#addName{
    margin; 10px auto;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
header{
    position: relative;
}

nav{
    background-color: lightgray;
    width: 99%;
    opacity: 62%;
    top: 0px;
    left: 0px;
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}
nav > ul{
    padding: 2px;
    margin: 0px;
    list-style-type: none;
    height: 35px;
    display: block;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 7px 7px;
    width: 100%;
    height: 100%;
}

ul > li{
    display: block;
    float: left;
    padding: 3px 3px;
    width: 10%;
    height: 100%;
    text-decoration: none;
    border-right: 2px dashed black;
}

ul > li:first-child{
    border-left: 2px dashed black;
}

ul > li:hover >a{
    background-color:darkgray;
    border-radius: 5%;
    font-weight: 900;
}

.active {
    background-color: darkgray;
    border-radius: 0%;
    opacity: 60%;
    font-size: 18px;
    opacity: 100%;
    text-decoration:inherit;
    font-weight: 700;
}

a.footer {
    display: inline-block;
    padding: 20px 20px;
    width: 100%;
    color: black;
    text-decoration: none;
    text-align: center;
}

a.footer:hover {
    background-color:darkgray;
}

footer{
    background-color: lightgray;
}

.row{
    padding: 8px;
    margin: 5px 5px;
    
}

label{
    padding: 10px;
}

.col{
    display: inline-block;
    margin: 0 10px;
}

p{
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    
}

h1{
    text-align: center;
    font-size: 24px;
    
}
.error{
    margin: 10px 0px 10px 10px;
    color: red;
    text-align: justify;
}
.errordev{
    color: firebrick;
    text-align: justify;
}
section{
    background-color: white;
}